<html>
    <head>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="uml">
                        <br>
                        <h1>Diagrams and Activities for Design Patterns</h1>
                    </div>
                    <br>
                    <div id="mixins">
                        {{dp}}
                        <h2>Mixins of this example</h2>
                        {% for class, details in dp.classes_by_mixins.items %}
                            <div class="row">
                                <div class="col-sm-6">
                                    {% for mixin_adopted, mixin_details in details.items %}
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <b>{{ mixin_adopted }}</b>
                                                {% for pm_adopted in mixin_details %}
                                                    <p>{{pm_adopted}}</p>
                                                {% endfor %}
                                            </div>
                                            <div class="col-sm-4">
                                                <p>→</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-sm-6">
                                <b>{{class}}</b>
                                {% for pm_adopted in dp.classes_by_propmethods|get_value:class %}
                                    <p>{{pm_adopted}}</p>
                                {% endfor %}
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                        {% for mixin, details in dp.mixins.items %}
                            <h4>{{mixin}}</h4>
                            <p>Activity 1: Scan the mixin code below and summarize what you think the Mixin does:</p>
                            <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                            <br><br>
                            <p>Activity 2: List some classes in this codebase that use this mixin (hint - use VS Code's search feature):</p>
                            <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                            <br><br>
                            {% for prop_method in details.prop_methods%}
                                <h6>{{prop_method}}</h6>
                                <p>Activity 3A: List the files + line numbers + classes, where this Mixin's method <b>{{prop_method}}</b> is being adopted / used by a class (or class instance) that includes this Mixin. Hint: look at the other highlighted files in the file system.</p>
                                <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                                <br><br>
                                <p>Activity 3B: Trigger the mixin code (i.e. the 'mixed in' code) below by using the software application, writing print statements, and watching them trigger.</p>
                                <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                                <br><br>
                                <p>Activity 3C: Describe how this Mixin's <b>{{prop_method}}</b> method is being used there. i.e. what does this Mixin's <b>{{prop_method}}</b> do? i.e. what does the class that adopts this Mixin's <b>{{prop_method}}</b> do?</p>
                                <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                                <br><br>
                                <p>Activity 4A: Trigger the highlighted code by using the software application, writing print statements, and observing what happens.</p>
                                <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                                <br><br>
                                <p>Activity 4B: Why are mixins used here - briefly explain. Here are some ideas, but which ones apply in this case? Any other reasons? Why for this particular domain? Hint: Think carefully about the domain / purpose of the application you are studying.</p>
                                <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                                <br><br>
                            {% endfor %}
                        {% endfor %}
                        <table class="table">
                            <tr>
                                <th>Pattern</th>
                                <th>Definition and Reasons</th>
                                <th>Example</th>
                                <th>Tradeoff</th>
                            </tr>
                            <tr>
                                <td>Mixin</td>
                                <td>Mixins let a class adopt methods and attributes of another class. Reasons: <br>(A) code reuse <br>(B) optional methods / attributes <br>(C) compartmentalization</td>
                                <td><a href="https://www.patterns.dev/posts/mixin-pattern/" target="_blank">Patterns.Dev Explanation</a> Reasons: <br>(A) all animals (dogs, cats, etc) can use the animalFunctionality mixin <br>(B) in <a href="https://stackoverflow.com/a/547714/1194050" target="_blank">this SO post</a>, mixins let you allow more supports as needed, but not by default, to instances of Request <br>(C) functionality for animals in general in animalFunctionality can be separated from dog-specific functionality</td>
                                <td>
                                    Why were mixins useful for {{dp.project}}? (hint - think about tradeoffs over multiple inheritence and multiple inheritence issues)<br><br>
                                    <textarea rows="4" style="width: 100%; max-width: 100%;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>Inheritence</td>
                                <td>Inheritance is the mechanism of basing a class upon another class (class-based inheritance), retaining similar implementation. Reasons:<br>(A) code reuse<br>(B) allows for extending classes</td>
                                <td><a href="https://en.wikipedia.org/wiki/Inheritance_(object-oriented_programming)#Code_reuse" target="_blank">Inheritance Example</a><br>(A) code is reused between sum and cube computer<br>(B) a more specific class SquareSumComputer, CubeSumComputer can extend a more generic class SumComputer.</td>
                                <td>
                                    Why would inheritence not work in this example?<br><br>
                                    <textarea rows="4" style="width: 100%; max-width: 100%;"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br>
                    <div id="mv*">
                        <h2>MV* of this example</h2>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <b>Templates / Views</b>
                                        {% for template in dp.templates %}
                                            <p>{{template}}</p>
                                        {% endfor %}
                                        <br>
                                        <b>Roles</b>
                                        <p>Frontend Developers</p>
                                        <p>Fullstack Developers</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p style="text-align: center;">→</p>
                                        <br>
                                        <p>Describe how the controller fills in / manipulates the template (i.e. with what information)</p>
                                        <textarea rows="8" style="width: 100%; max-width: 100%;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2" style="text-align: center;">
                                <b>Controllers</b> 
                                {% for controller in dp.views %}
                                    <p>{{controller}}</p>
                                {% endfor %}
                                <br>
                                <b>Roles</b>
                                <p>Backend Developers</p>
                                <p>Fullstack Developers</p>
                            </div>
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <p style="text-align: center;">←</p>
                                        <br>
                                        <p>Describe how the controller accesses / manipulates the model</p>
                                        <textarea rows="5" style="width: 100%; max-width: 100%;"></textarea>
                                        <br><br>
                                        <p>Describe how the controller fills in the model (i.e. with what information)</p>
                                        <textarea rows="5
                                        " style="width: 100%; max-width: 100%;"></textarea>
                                    </div>
                                    <div class="col-sm-4">
                                        <b>Models</b>
                                        {% for model in dp.models %}
                                            <p>{{model}}</p>
                                        {% endfor %}
                                        <br>
                                        <b>Roles</b>
                                        <p>Backend Developers</p>
                                        <p>Database Admin</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for model in dp.models %}
                            <h4>{{model}}</h4>
                            <p>Activity 1: Describe the {{model}} model.</p>
                            <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                            <br><br>
                            <p>Activity 2: Name the file / class that forms the {{model}} model's controller (in Django, confusingly, they say 'View' for the MV* controller, and 'Template' for view).</p>
                            <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                            <br><br>
                            <p>Activity 3: Name the file that corresponds to the {{model}} model's view (in Django, confusingly, they say 'Template' for the MV* view)</p>
                            <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                            <br><br>
                            <p>Activity 3: Name the file that corresponds to the {{model}} model's view (in Django, confusingly, they say 'Template' for the MV* view)</p>
                            <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                            <br><br>
                            <p>Activity 6: Why is MV* used here over no framework (i.e. mixing data touching, view touching logic like in vanilla PHP https://en.wikipedia.org/wiki/PHP)?</p>
                            <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                            <br><br>
                        {% endfor %}
                        {% for controller in dp.views %}
                            <h4>{{controller.name}} (controller.model)</h4>
                            <p>Activity 4: How does this controller access / manipulate the data model (i.e. which line of code)? What data does the model provide the controller? Does the controller also manipulate the model (i.e. create / edit / delete model instances and if so with what information) or is it just read only?</p>
                            <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                            <br><br>
                            <p>Activity 5: How does the model data get to the view (i.e. template)? What data does the model provide and how does it fill the template?</p>
                            <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                            <br><br>
                        {% endfor %}
                        {% for template in dp.templates %}
                            <h4>{{template}} Template</h4>
                            <p>Activity 7: This is a subjective question, but would you consider this template part of an MVC, MVVM, MVP, MVT, or other architecture, and why do you think the code architects chose that?</p>
                            <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                            <br><br>
                        {% endfor %}
                        <table class="table">
                            <tr>
                                <th>Pattern</th>
                                <th>Definition and Reasons</th>
                                <th>Example</th>
                                <th>Tradeoff</th>
                            </tr>
                            <tr>
                                <td>MV*</td>
                                <td>
                                    <a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller" target="_blank">Model-view-controller architectures</a> and 
                                    <a href="https://levelup.gitconnected.com/mvc-vs-mvp-vs-mvvm-35e0d4b933b4" target="_blank">MVC vs MVP vs MVVM</a></td>
                                <td>
                                    <a href="https://levelup.gitconnected.com/mvc-vs-mvp-vs-mvvm-35e0d4b933b4" target="_blank">MVC vs MVP vs MVVM</a>
                                    <ul>
                                        <li>(A) separation of visualization, processing, data management</li>
                                        <li>(B) modularity</li>
                                        <li>(C) flexibility</li>
                                        <li>(D) testability</li>
                                        <li>(E) maintainability</li>
                                    </ul>    
                                </td>
                                <td>
                                    Why were mixins useful for + "name of example" + ? (hint - think about tradeoffs over multiple inheritence and multiple inheritence issues)<br><br>
                                    <textarea rows="4" style="width: 100%; max-width: 100%;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>No Framework</td>
                                <td>Not using any framework. Mixing data touching, view touching logic like in <a href="https://en.wikipedia.org/wiki/PHP" target="_blank">vanilla PHP</a>.</td>
                                <td><a href="https://en.wikipedia.org/wiki/PHP" target="_blank">vanilla PHP</a</td>
                                <td>
                                    Why would no framework not work in this example?<br><br>
                                    <textarea rows="4" style="width: 100%; max-width: 100%;"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </body>
</html>