<html>
    <head>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="uml">
                        <br>
                        <h1>Diagrams and Activities for Design Patterns</h1>
                    </div>
                    <br>
                    <div id="mixins">
                        <!--{{dp}}-->
                        <h2>Mixins Lesson</h2>
                        <p>Mixins are a class from which other classes can adopt methods and properties.</p>
                        <p>Mixins are used if you don't want a class to inherit from another class (i.e. be its child class) but you want it to adopt some attributes / methods.</p> 
                        <p>You can think of mixins as uncles and aunts but not necessarily parents. They help avoid issues and complexities of multiple inheritance (i.e. if class TA has parents Student and Faculty, both of whose parent is Person, then does TA use Student or Faculty's version of any given method).</p>
                        <img src="/static/ralemodules/diamondproblem.png"/>
                        <br><br>
                        <p>A mixin is an object that we can use in order to add reusable functionality to another object or class, without using inheritance. We can't use mixins on their own: their sole purpose is to add functionality to objects or classes without inheritance. [src: https://www.patterns.dev/posts/mixin-pattern/]</p>
                        <p>A mixin is a special kind of multiple inheritance. There are two main situations where mixins are used: 
                            <ul>
                                <li>You want to provide a lot of optional features for a class.</li>
                                <li>You want to use one particular feature in a lot of different classes.</li>
                            </ul>
                            For an example of number one, consider werkzeug's request and response system. I can make a plain old request object by saying:
                        </p>
                        <pre>
                            from werkzeug import BaseRequest
                            class RegularRequest(BaseRequest):
                                pass
                        </pre>
                        <p>If I want to add accept header support, I would make that:</p>
                        <pre>
                            from werkzeug import BaseRequest, AcceptMixin
                                class SpecialRequest(AcceptMixin, BaseRequest):
                                    def sr_method:
                                        method_from_accept_mixin(property_from_base_request)
                        </pre>
                        <p>If I wanted to make a request object that supports accept headers, etags, authentication, and user agent support, I could do this:<p>
                        <pre>
                            from werkzeug import BaseRequest, AcceptMixin, ETagRequestMixin, UserAgentMixin, AuthenticationMixin
                            
                            class ExtraSpecialRequest(AcceptMixin, ETagRequestMixin, UserAgentMixin, AuthenticationMixin, BaseRequest):
                                def esr_method:
                                    method_from_accept_mixin(property_from_base_request)
                                    method_from_e_tag_request_mixin(property_from_user_agent_mixin)
                                    method_from_authentication_mixin()
                        </pre>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <b>AcceptMixin</b>
                                        <p>method_from_accept_mixin</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p>→</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <b>BaseRequest</b>
                                        <p>property_from_base_request</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p>→</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <b>SpecialRequest</b>
                                <p>method_from_accept_mixin</p>
                                <p>property_from_base_request</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <b>AcceptMixin</b>
                                        <p>method_from_accept_mixin</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p>→</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <b>BaseRequest</b>
                                        <p>property_from_base_request</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p>→</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <b>ETagRequestMixin</b>
                                        <p>method_from_e_tag_request_mixin</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p>→</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <b>UserAgentMixin</b>
                                        <p>property_from_user_agent_mixin</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p>→</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <b>AuthenticationMixin</b>
                                        <p>method_from_authentication_mixin</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p>→</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <b>ExtraSpecialRequest</b>
                                <p>method_from_accept_mixin</p>
                                <p>property_from_base_request</p>
                                <p>method_from_e_tag_request_mixin</p>
                                <p>property_from_user_agent_mixin</p>
                                <p>method_from_authentication_mixin</p>
                            </div>
                        </div>
                        <hr>
                        <p>The difference is subtle, but in the above examples, the mixin classes weren't made to stand on their own. In more traditional multiple inheritance, the AuthenticationMixin (for example) would probably be something more like Authenticator. That is, the class would probably be designed to stand on its own. [src: https://stackoverflow.com/questions/533631/what-is-a-mixin-and-why-is-it-useful/547714#547714]</p>
                        <p>Another situation is: you want to provide a lot of (not-optional) features for a class, but you want the features in separate classes (and in separate modules) so each module is about one feature (behaviour.) IOW, not for re-use, but for compartmentalization.</p>
                        <p>Mixins can be used for:</p>
                        <ul>
                            <li>Mixins can be used by multiple classes, for code reusability. They are used to avoid code repetition and promote code reuse, so there is less complexity and room for error. This helps with collaboration.</li>
                            <li>Mixins can be used for adding lots of optional attributes/methods. You may want a class to avail of several optional properties or methods. For instance in the werkzeug's request and response example, mixins let you allow more supports as needed, but not by default, to instances of Request. Adding mixins to classes let you layer on additional functionality as needed. Each included mixin's version of any given method (i.e. team_id) will run.</li>
                            <li>Compartmentalization: code at different levels (data touching, logic, view touching, etc.) should be separated so different developers can collaborate easily.</li>
                        </ul>
                        <h2 id="mixin-diagram">Mixins of {{ dp.project }}</h2>
                        {% for class, details in dp.classes_by_mixins.items %}
                            <div class="row">
                                <div class="col-sm-6">
                                    {% for mixin_adopted, mixin_details in details.items %}
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <b>{{ mixin_adopted }}</b>
                                                {% for pm_adopted in mixin_details %}
                                                    <p>{{pm_adopted}}</p>
                                                {% endfor %}
                                            </div>
                                            <div class="col-sm-4">
                                                <p>→</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-sm-6">
                                <b>{{class}}</b>
                                {% for pm_adopted in dp.classes_by_propmethods|get_value:class %}
                                    <p>{{pm_adopted}}</p>
                                {% endfor %}
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                        {% for mixin, details in dp.mixins.items %}
                            <h4 id="mixin-{{mixin}}">{{mixin}}</h4>
                            <p>Activity 1: Scan the mixin code of {{mixin}}, found in {{details.file_path}}, which has been opened for you. Summarize what you think the Mixin does:
                                <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~1 min for this question.</span>
                            </p>
                            <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                            <br><br>
                            <p id="mixin-{{mixin}}-a2">Activity 2: List some classes in this codebase that use the {{mixin}} mixin. Hint, look at the "Mixins of {{ dp.project }}" diagram above.
                                <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~1 min for this question.</span>
                            </p>
                            <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                            <br><br>
                            {% for prop_method in details.prop_methods%}
                                <h6 id="mixin-{{mixin}}-{{prop_method}}-3a">{{prop_method}}</h6>
                                <p>Activity 3A: List the classes / class instances that adopt / use the {{mixin}}'s method <b>{{prop_method}}</b>. Hint, look at the "Mixins of {{ dp.project }}" diagram above.
                                    <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~1 min for this question.</span>
                                </p>
                                <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                                <br><br>
                                <p id="mixin-{{mixin}}-{{prop_method}}-3c">Activity 3B: Describe how this Mixin's <b>{{prop_method}}</b> method is being used. i.e. What does this Mixin's <b>{{prop_method}}</b> do (see {{mixin}} in {{details.file_path}})? i.e. what does the class that adopts this Mixin's <b>{{prop_method}}</b> do (look at the code of the classes you mentioned in 3A)?
                                    <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~2 min for this question.</span>
                                </p>
                                <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                                <br><br>
                                <p id="mixin-{{mixin}}-{{prop_method}}-4b">Activity 4: Explain why mixins (i.e. {{mixin}}) are used in {{dp.project}}? Hint, see the 3 general ideas bulletted at the end of the Mixins lesson above ("Mixins can be used for ..."). Then take another look at the {{dp.project}} application as a user. Think carefully about the <b>domain / purpose</b> of the application you are studying. Why specifically are mixins used for this particular domain? 
                                    <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~2 min for this question.</span>
                                </p>
                                <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                                <br><br>
                            {% endfor %}
                        {% endfor %}
                        <h4>Inheritence Lesson</h4>
                        <p>Inheritance is the mechanism of basing a class upon another class (class-based inheritance), retaining similar implementation.</p>
                        <p>Implementation inheritance is the mechanism whereby a subclass re-uses code in a base class. By default the subclass retains all of the operations of the base class, but the subclass may override some or all operations, replacing the base-class implementation with its own. [src: https://en.wikipedia.org/wiki/Inheritance_(object-oriented_programming)#Code_reuse]</p>
                        <p>In the following Python example, subclasses SquareSumComputer and CubeSumComputer override the transform() method of the base class SumComputer. The base class comprises operations to compute the sum of the squares between two integers. The subclass re-uses all of the functionality of the base class with the exception of the operation that transforms a number into its square, replacing it with an operation that transforms a number into its square and cube respectively. The subclasses therefore compute the sum of the squares/cubes between two integers.</p>
                        <pre>
                            class SumComputer:
                                def __init__(self, a, b):
                                    self.a = a
                                    self.b = b

                                def transform(self, x):
                                    raise NotImplementedError

                                def inputs(self):
                                    return range(self.a, self.b)

                                def compute(self):
                                    return sum(self.transform(value) for value in self.inputs())

                            class SquareSumComputer(SumComputer):
                                def transform(self, x):
                                    return x * x

                            class CubeSumComputer(SumComputer):
                                def transform(self, x):
                                    return x * x * x
                        </pre>
                        <table id="mixin-tradeoff" class="table">
                            <tr>
                                <th>Pattern</th>
                                <th>Definition and Reasons</th>
                                <th>Example</th>
                                <th>Tradeoff</th>
                            </tr>
                            <tr>
                                <td>Mixin</td>
                                <td>Mixins let a class adopt methods and attributes of another class. Reasons: <br>(A) code reuse <br>(B) optional methods / attributes <br>(C) compartmentalization</td>
                                <td>Werkzeug's Request / Response System Reasons: <br>(A) all Requests (SpecialRequest, ExtraSpecialRequest, etc) can use the AcceptMixin mixin <br>(B) the mixins let you allow more supports as needed, but not by default, to instances of the Request classes (i.e. AcceptMixin for SpecialRequest, 4 mixins for ExtraSpecialRequest) <br>(C) functionality for requests in general (AcceptMixin, ETagRequestMixin, etc.) can be separated from ExtraSpecialRequest-specific functionality (i.e. the logic in the esr_method)</td>
                                <td>
                                    Why were mixins useful for {{dp.project}} specifically? Hint, think about tradeoffs over multiple inheritence and about multiple inheritence issues.
                                    <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~3 min for this question.</span>
                                    <br><br>
                                    <textarea rows="4" style="width: 100%; max-width: 100%;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>Inheritence</td>
                                <td>Reasons:<br>(A) code reuse<br>(B) allows for extending classes</td>
                                <td>Inheritance Example of Sum / Cube Computer:<br>(A) code is reused between sum and cube computer<br>(B) a more specific class SquareSumComputer, CubeSumComputer can extend a more generic class SumComputer.</td>
                                <td>
                                    Why would inheritence not work for {{dp.project}} specifically?
                                    <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~3 min for this question.</span>
                                    <br><br>
                                    <textarea rows="4" style="width: 100%; max-width: 100%;"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br>
                    <div id="mvs">
                        <h2>MV* of this example</h2>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <b>Templates / Views</b>
                                        {% for template in dp.templates %}
                                            <p>
                                                {{template.name}}<br>
                                                <span style="font-size:10px;">May use {{template.model}} model but check.</span>
                                            </p>
                                        {% endfor %}
                                        <br>
                                        <b>Roles</b>
                                        <p>Frontend Developers</p>
                                        <p>Fullstack Developers</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p style="text-align: center;">→</p>
                                        <br>
                                        <p style="font-size:12px;">Describe how the controller fills in / manipulates the template (i.e. with what information)
                                            <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~2.5 min for this question.</span>
                                        </p>
                                        <textarea rows="8" style="width: 100%; max-width: 100%;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <b>Controllers</b> 
                                {% for controller in dp.views %}
                                    <p>
                                        {{controller.name}}<br>
                                        <span style="font-size:10px;">May use {{controller.model}} model but check.</span>
                                    </p>
                                {% endfor %}
                                <br>
                                <b>Roles</b>
                                <p>Backend Developers</p>
                                <p>Fullstack Developers</p>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <p style="text-align: center;">←</p>
                                        <br>
                                        <p style="font-size:12px;">Describe how the controller accesses / manipulates the model
                                            <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~2.5 min for this question.</span>
                                        </p>
                                        <textarea rows="5" style="width: 100%; max-width: 100%;"></textarea>
                                        <br><br>
                                        <p style="font-size:12px;">Describe how the controller fills in the model (i.e. with what information)
                                            <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~2.5 min for this question.</span>
                                        </p>
                                        <textarea rows="5
                                        " style="width: 100%; max-width: 100%;"></textarea>
                                    </div>
                                    <div class="col-sm-4">
                                        <b>Models</b>
                                        {% for model in dp.models %}
                                            <p>{{model}}</p>
                                        {% endfor %}
                                        <br>
                                        <b>Roles</b>
                                        <p>Backend Developers</p>
                                        <p>Database Admin</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for model in dp.models %}
                            <h4>{{model}}</h4>
                            <p id="{{model}}-a1">Activity 1: Describe the {{model}} model.
                                <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~0.5 min for this question.</span>
                            </p>
                            <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                            <br><br>
                            <p id="{{model}}-a2">Activity 2: Name the file / class that forms the {{model}} model's controller (in Django, confusingly, they say 'View' for the MV* controller, and 'Template' for view).
                                <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~0.5 min for this question.</span>
                            </p>
                            <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                            <br><br>
                            <p id="{{model}}-a3">Activity 3: Name the file that corresponds to the {{model}} model's view (in Django, confusingly, they say 'Template' for the MV* view)
                                <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~0.5 min for this question.</span>
                            </p>
                            <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                            <br><br>
                            <p id="{{model}}-a6">Activity 6: Specifically for {{dp.project}}, why is MV* used here over no framework (i.e. mixing data touching, view touching logic like in vanilla PHP https://en.wikipedia.org/wiki/PHP)?
                                <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~1.5 min for this question.</span>
                            </p>
                            <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                            <br><br>
                        {% endfor %}
                        {% for controller in dp.views %}
                            <h4>{{controller.name}}</h4>
                            <p id="{{controller.name}}-a4">Activity 4: How does this controller access / manipulate the data model (i.e. which line of code)? What data does the model provide the controller? Does the controller also manipulate the model (i.e. create / edit / delete model instances and if so with what information) or is it just read only?
                                <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~0.5 min for this question.</span>
                            </p>
                            <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                            <br><br>
                            <p id="{{controller.name}}-a5">Activity 5: How does the model data get to the view (i.e. template)? What data does the model provide and how does it fill the template? Consider which part, Model code vs. Controller code, is responsible for data touching logic versus template preparation logic.
                                <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~0.5 min for this question.</span>
                            </p>
                            <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                            <br><br>
                        {% endfor %}
                        <h4>
                            {% for template in dp.templates %}
                                {{template.name}}, 
                            {% endfor %}
                            Templates
                        </h4>
                        <p id="a7">Activity 7: This is a subjective question, but would you consider these templates part of an MVC, MVVM, MVP, MVT, or other architecture, and specifically for {{dp.project}}, why do you think the code architects chose that?
                            <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~3.5 min for this question.</span>
                        </p>
                        <textarea rows="2" style="width: 100%; max-width: 100%;"></textarea>
                        <br><br>
                        <table id="mvs-tradeoff" class="table">
                            <tr>
                                <th>Pattern</th>
                                <th>Definition and Reasons</th>
                                <th>Example</th>
                                <th>Tradeoff</th>
                            </tr>
                            <tr>
                                <td>MV*</td>
                                <td>
                                    <a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller" target="_blank">Model-view-controller architectures</a> and 
                                    <a href="https://levelup.gitconnected.com/mvc-vs-mvp-vs-mvvm-35e0d4b933b4" target="_blank">MVC vs MVP vs MVVM</a></td>
                                <td>
                                    <a href="https://levelup.gitconnected.com/mvc-vs-mvp-vs-mvvm-35e0d4b933b4" target="_blank">MVC vs MVP vs MVVM</a>
                                    <ul>
                                        <li>(A) separation of visualization, processing, data management</li>
                                        <li>(B) modularity</li>
                                        <li>(C) flexibility</li>
                                        <li>(D) testability</li>
                                        <li>(E) maintainability</li>
                                    </ul>    
                                </td>
                                <td>
                                    Why was MV* useful specifically for {{dp.project}}? (hint - think about tradeoffs over not using any framework)
                                    <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~2.5 min for this question.</span>
                                    <br><br>
                                    <textarea rows="4" style="width: 100%; max-width: 100%;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>No Framework</td>
                                <td>Not using any framework. Mixing data touching, view touching logic like in <a href="https://en.wikipedia.org/wiki/PHP" target="_blank">vanilla PHP</a>.</td>
                                <td><a href="https://en.wikipedia.org/wiki/PHP" target="_blank">vanilla PHP</a</td>
                                <td>
                                    Why would no framework not work specifically for {{dp.project}}?
                                    <br><span style="font-size: 10px;">Pacing: Perhaps reserve ~2.5 min for this question.</span>
                                    <br><br>
                                    <textarea rows="4" style="width: 100%; max-width: 100%;"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </body>
</html>